{% extends "base.html" %}
{% block title %}Đăng Ký{% endblock %}
{% block content %}
    <form method="post">
        <h2>ĐĂNG KÝ</h2>
        <div class="form-group">
            <input type="email" name="email" placeholder=" " required>
            <label>Email</label>
        </div>
        <div class="form-group">
            <input type="text" name="username" placeholder=" " required>
            <label>Tên đăng nhập</label>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder=" " required>
            <label>Mật khẩu</label>
        </div>
        <button type="submit">Đăng Ký</button>
    </form>
{% endblock %}
