<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>To-Do List</h1>
        {% if g.user %}
            <div>
                <P>Người dùng:</P>
                <span>{{ g.user['username'] }}</span>
            </div>
            {% if g.user['role'] == 'admin' %}
                <a href="{{ url_for('admin.index') }}">Quản lý User</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Đăng xuất</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Đăng nhập</a>
            <a href="{{ url_for('auth.register') }}">Đăng ký</a>
        {% endif %}
    </nav>
    <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>